*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }


body {
    background-color: rgba(255, 255, 255, 0.966);
}
/* the main container */

.front-side,
.back-side {
  width: 390px;
  height: 220px;
  /* display: grid; */
  /* each student will customize based on their grid */
  /* grid-template-columns: 2% 96% 2%;
  grid-template-rows: 4% 92% 4%; */
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: rgba(239, 107, 98, 0.815);
  border-radius: 17px;

}

.front-side{
  background-color: rgb(86,116,142);
  
}
.front-name{
  display: grid;
  position: relative;
  margin-left:-130px;
  padding: 137px;
  justify-items:left;
  font-size: 80px;
  color:rgb(255, 218, 211);
  font-family: 'Courier Prime', monospace;
  
}
.name{
  display: grid;
  position: relative;
  margin-right: 10;
  padding: 15px;
  justify-items:right;
  font-size: 14px;
  color:rgb(8, 70, 97);
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  margin-top: 10;

}
.web{
  display: grid;
  position: relative;
  margin:10px ;
  margin-left:20px;
  justify-items: left;
  font-size: 15px;
  color:rgb(255, 218, 211);
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  margin-top: 70px;

}

.email{
  width: 20px;
  margin-left: 50px;
  margin-top: 0x;

  
}

.insta{
  width: 24px;
  margin-left: 20px;
  margin-top: -17px;
}

/* h3{
  margin-bottom: 0px;
}

h5{
  margin-top: 0px;
  padding-top: 0px;
} */